.jtoggler {
    display: none;
}
.jtoggler:disabled + .jtoggler-control,
.jtoggler:checked:disabled + .jtoggler-control {
    background-color: rgba(0,0,0,0.05);
}
.jtoggler:disabled + .jtoggler-control .jtoggler-handle {
    background-color: #ccc;
}
.jtoggler:disabled + .jtoggler-control:hover {
    cursor: default;
}
.jtoggler-wrapper {
    display: inline-flex;
    align-items: center;

    font-size: 1em;
}
.jtoggler-control {
    position: relative;

    width: 3em;
    height: 1.5em;
    margin: 0.2em;

    background: #fff;
    border-radius: 2em;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.25);

    transition: background-color 0.3s;
}
.jtoggler-control:hover {
    cursor: pointer;
}
.jtoggler-control .jtoggler-handle {
    display: block;
    position: absolute;

    width: 1.6em;
    height: 1.6em;
    top: calc(50% - 0.8em);
    left: -0.1em;

    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);

    transition: left 0.3s;
}
.jtoggler:checked + .jtoggler-control {
    background: #4a89dc;
}
.jtoggler:checked + .jtoggler-control .jtoggler-handle {
    left: 1.6em;
}
.jtoggler-label {
    padding-left: 0.4em;
}